@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    src: url(Exo+2_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Exo+2_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Exo+2_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt6DCfs7wHk.woff */
        url(Exo+2_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt6DCfs7wHoDnzcj.ttf */
        url(Exo+2_300_normal.svg#Exo+2_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    src: url(Exo+2_500_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Exo+2_500_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Exo+2_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt7bCPs7wHk.woff */
        url(Exo+2_500_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt7bCPs7wHoDnzcj.ttf */
        url(Exo+2_500_normal.svg#Exo+2_500_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: url(Exo+2_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Exo+2_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Exo+2_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt6TDvs7wHk.woff */
        url(Exo+2_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt6TDvs7wHoDnzcj.ttf */
        url(Exo+2_700_normal.svg#Exo+2_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(Roboto_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Roboto_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Roboto_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff */
        url(Roboto_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9AMP6lQ.ttf */
        url(Roboto_300_normal.svg#Roboto_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(Roboto_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Roboto_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Roboto_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff */
        url(Roboto_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxPKTU1Kg.ttf */
        url(Roboto_400_normal.svg#Roboto_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=KFOmCnqEu92Fr1Mu4mxN&skey=a0a0114a1dcab3ac&v=v18#Roboto */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(Roboto_500_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Roboto_500_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Roboto_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc-.woff */
        url(Roboto_500_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9AMP6lQ.ttf */
        url(Roboto_500_normal.svg#Roboto_500_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(Roboto_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Roboto_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Roboto_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc-.woff */
        url(Roboto_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9AMP6lQ.ttf */
        url(Roboto_700_normal.svg#Roboto_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url(Exo+2_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Exo+2_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Exo+2_400_normal.woff) format('woff'), /* {{woff-gf-url}} */
        url(Exo+2_400_normal.ttf) format('truetype'), /* {{truetype-gf-url}} */
        url(Exo+2_400_normal.svg#Exo+2_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=7cHmv4okm5zmbtYoK-k&skey=1b9a3dc5c6de9cce&v=v4#Exo2 */
}
